*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: roboto, sans-serif;
}

header{
    background-color: #1f2937;
}

.heroNavSection{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: roboto, sans-serif;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.nav-links{
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}

.nav-item:hover{
    color: #3882F6;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    flex-wrap: wrap;
    padding: 20px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
    gap: 10px;
    padding-bottom: 30px;
}

.hero-left > h2{
  font-size: 40px; 
}

.hero-left > button{
    padding: 10px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-left > button:hover{
    background-color: #E5E7EB;
    color: #3882F6;
}


.hero-right > img{
    display: flex;
    flex-shrink: 1;
    width: 450px;
}

.random-info{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}

.img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
    padding-top: 20px;
    flex-wrap: wrap;
}

.random-info > h3{
    font-size: 30px;
}

.img-section > div > p{
    padding-top: 20px;
    font-size: 13px;
}

.image{
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}
.quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 20px;
    flex-wrap: wrap;
    min-height: 300px;
    text-align: center;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    text-wrap: wrap;
    color: #1f2937;
}

.quote-author{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.call-to-action-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    padding: 20px 40px;
    width: 1000px;
    height: 100px;
    border-radius: 10px;
    color: #E5E7EB;
}

.call-to-action-header{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    
}

.call-to-action-subtext{
    font-size: 13px;
}

.call-to-action-btn{
    padding: 10px 30px 10px 30px;
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    cursor: pointer;
    font-size: 16px;
}

.call-to-action-btn:hover{
    color: #3882F6;
    background-color: #E5E7EB;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    background-color: #1f2937;
    padding: 20px;
}

@media (max-width:768px) {
    .nav-links{
        font-size: 15px;
        text-align: center;
        padding-top: 20px;
    }

    .hero-left{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .hero-right > img{
        width: 250px;
    }

    .random-info > h3{
        font-size: 35px;
    }

    .quote-text{
        font-size: 20px;
    }

    .call-to-action-content{
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}